<ul class="listfund">
    <li class="listfund_one">
        <span class="fund1">基金名称</span> 
        <span class="fund2">最新净值</span>
        <span class="fund3">日涨幅</span>
    </li>
    <li>
        <i class="icon_sale">售</i>
        <span class="fund1">
            <p>大学生基金001</p>
            <p class="prolsit_gray">510020</p>
        </span>
        <span class="fund2">
            <p>1.8762</p>
            <p class="prolsit_gray">15-05-14</p>
        </span>
        <span class="fund3"><p class=" prolsit_k">4.0684%</p></span>
    </li>
    <li class="listfund_three">
        <i class="icon_stop">停</i>
        <span class="fund1">
            <p>大学生基金001</p>
            <p class="prolsit_gray">510020</p>
        </span>
        <span class="fund2">
            <p>1.8762</p>
            <p class="prolsit_gray">15-05-14</p>
        </span>
        <span class="fund3"><p class=" prolsit_k">5.7684%</p></span>
    </li>
    <li>
        <i class="icon_sale">售</i>
        <span class="fund1">
            <p>大学生基金001</p>
            <p class="prolsit_gray">510020</p>
        </span>
        <span class="fund2">
            <p>1.8762</p>
            <p class="prolsit_gray">15-05-14</p>
        </span>
        <span class="fund3"><p class=" prolsit_k">4.0684%</p></span>
    </li>
    <li>
        <i class="icon_stop">停</i>
        <span class="fund1">
            <p>大学生基金001</p>
            <p class="prolsit_gray">510020</p>
        </span>
        <span class="fund2">
            <p>1.8762</p>
            <p class="prolsit_gray">15-05-14</p>
        </span>
        <span class="fund3"><p class=" prolsit_k">3.684%</p></span>
    </li>
    <li>
        <i class="icon_stop">停</i>
        <span class="fund1">
            <p>大学生基金001</p>
            <p class="prolsit_gray">510020</p>
        </span>
        <span class="fund2">
            <p>1.8762</p>
            <p class="prolsit_gray">15-05-14</p>
        </span>
        <span class="fund3"><p class=" prolsit_k">4.0684%</p></span>
    </li>
    <li>
        <i class="icon_stop">停</i>
        <span class="fund1">
            <p>大学生基金001</p>
            <p class="prolsit_gray">510020</p>
        </span>
        <span class="fund2">
            <p>1.8762</p>
            <p class="prolsit_gray">15-05-14</p>
        </span>
        <span class="fund3"><p class=" prolsit_k">3.04%</p></span>
    </li>
</ul>