<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=640,target-densitydpi=320,user-scalable=no,maximum-scale=1.0" />
    <title>专项理财产品</title>
	<link rel="stylesheet" type="text/css" href="static/css/global.css">
    <link rel="stylesheet" type="text/css" href="static/css/list/prolist.css">
	<style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-start{clip:rect(0,auto,auto,0);-ms-zoom:1.0001;}.ng-animate-active{clip:rect(-1px,auto,auto,0);-ms-zoom:1;}</style>
<style type="text/css">
.scroller{
	position: absolute;
	top: 280px;
	bottom: 5px;
	left: 0;
	width: 100%;
	overflow: hidden;
	background-color: #fff;
}
.pullDown, .pullUp {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
	color:#888;
}
.pullDown .pullDownIcon, .pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url(static/images/common/pull-icon.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
.pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
.pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

.pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

.pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

.pullDown.loading .pullDownIcon, .pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}
</style></head>
<body ng-controller="SpecialFundListController" ng-cloak>
	<div id="page">
		<header>
	        <div id="headerLeft">
	            <a href="javascript:void(0);" onClick="javascript:history.go(-1)" title="返回"><i class="header_return"></i>返回</a>
	        </div>
	        <h1>专项理财产品</h1>
            <div id="headerRight">
                <a href="search.html"><i class="icon_search_white"></i></a>
            </div>
		</header>
	    <section style="margin-top: 93px">
	        <article>
	            <nav>
	                <!--<span class="filter"><i class="icon_filter"></i></span>-->
	                <ul class="nav_2">
	                    <li><a href="javascript:;" ng-class="{check: fund.status==1}" ng-click="fund.status=1; fund.switchTab();">推荐</a></li>
	                    <li><a href="javascript:;" ng-class="{check: fund.status==2}" ng-click="fund.status=2; fund.switchTab();">在售</a></li>
	                    <li><a href="javascript:;" ng-class="{check: fund.status==3}" ng-click="fund.status=3; fund.switchTab();">往期产品</a></li>
	                </ul>
	            </nav>
	        </article>
	        
	        <!-- 滚动图片 -->
	        <article id="banner-box">
	            <ul id="banner">
	                <li><a href="#"><img src="static/images/pro/connection_disable.png" alt="" /></a></li>
	                <li><a href="#"><img src="static/images/pro/risk.png" alt="" /></a></li>
	                <li><a href="#"><img src="static/images/pro/connection_disable.png" alt="" /></a></li>
	                <li><a href="#"><img src="static/images/pro/risk.png" alt="" /></a></li>
	            </ul>
	            <div class="dot">
	                <span class="cur"></span>
	                <span class=""></span>
	                <span class=""></span>
	                <span class=""></span>
	            </div>
	        </article>
	         <!-- /滚动图片 -->
	         
	        <!-- 推荐 -->
	        <div class="prolistBox specialbox1" ng-show="fund.status == 1">
	            <article class="prolist">
	                <img src="static/images/common/product_lable_stable.png" class="prolist_img" />
	                <div class="prolist_title">
	                    <div class="prolist_title_padding">
	                        <p class="prolist_name">一个非常长的产品名字A<span class="prolsit_e"></span></p>
	                        <p class="prolsit_paper">0000380</p>
	                    </div>
	                    <div class="prolist_box2">
	                        <div class="prolist_apply">
	                            <span class="prolist_trading2">
	                                <p>近3个月涨幅</p>
	                                <p class="prolsit_d">35.8%</p>
	                            </span>
	                            <span class="prolist_amount2">
	                                <p>近3个月涨幅</p>
	                                <p class="prolsit_d">35.8%</p>
	                            </span>
	                        </div>
	                    </div>
	                    <div class="prolist_box">
	                        <div class="prolist_apply">
	                            <span class="prolist_trading">
	                                <p>起购金额</p>
	                                <p class="prolsit_black">100,000,00元</p>
	                            </span>
	                            <span class="prolist_amount">
	                                <p>开售日期</p>
	                                <p class="prolsit_black">2015/4/09&nbsp;10:00</p>
	                            </span>
	                        </div>
	                        <div class="prolsit_con">
	                            <p class="prolsit_next">
	                                <span class="free">认购费全免</span>
	                                <span class="high">高收闪预期</span>
	                                <span class="safe">亏损风险&lt;5%</span>
	                            </p>
	                        </div>
	                    </div>
	                </div>
	            </article>
	            <article class="prolist">
	                <img src="static/images/common/product_lable_stable.png" class="prolist_img" />
	                <div class="prolist_title">
	                    <div class="prolist_title_padding">
	                        <p class="prolist_name">一个非常长的产品名字A<span class="prolsit_e"></span></p>
	                        <p class="prolsit_paper">0000380</p>
	                    </div>
	                    <div class="prolsit_txt">近7日年化收益率<span  class="prolsit_d">4.4843%</span></div>
	                    <div class="prolist_box">
	                        <div class="prolist_apply">
	                            <span class="prolist_trading">
	                                <p>起购金额</p>
	                                <p class="prolsit_black">100,000,00元</p>
	                            </span>
	                            <span class="prolist_amount">
	                                <p>开售日期</p>
	                                <p class="prolsit_black">2015/4/09&nbsp;10:00</p>
	                            </span>
	                            <span class="prolist_imit">
	                                <p>理财限期</p>
	                                <p class="prolsit_black">3个月</p>
	                            </span>
	                        </div>
	                        <div class="prolsit_con">
	                            <p class="prolsit_next">
	                                <span class="employe">员工专享</span>
	                            </p>
	                        </div>
	                    </div>
	                </div>
	            </article>
	            <article class="prolist proListspecial">
	                <img src="static/images/common/product_lable_stable.png" class="prolist_img" />
	                <div class="prolist_title">
	                    <div class="prolist_title_padding">
	                        <p class="prolist_name">一个非常长的产品名字A<span class="prolsit_stop"></span></p>
	                        <p class="prolsit_paper">0000380</p>
	                    </div>
	                    <div class="prolist_box2">
	                        <div class="prolist_apply">
	                            <span class="prolist_trading2">
	                                <p>近3个月涨幅</p>
	                                <p class="prolsit_d">35.8%</p>
	                            </span>
	                            <span class="prolist_amount2">
	                                <p>近3个月涨幅</p>
	                                <p class="prolsit_d">35.8%</p>
	                            </span>
	                        </div>
	                    </div>
	                    <div class="prolsit_con">
	                        <p class="prolsit_next2">
	                            <span>点评：绩优股</span>
	                        </p>
	                    </div>
	                </div>
	            </article>
	        </div>
	        <!-- /推荐 -->
	        
	        <!-- 在售 -->
	        <div class="prolistBox specialbox1" ng-show="fund.status == 2">
	       	 <div class="scroller" id="scroller1">
	       			 <ul>
		                <li class="prolist" ng-repeat="specialFund in curSpecialFunds" ng-click="fund.go(specialFund.product_no)">
			                <img src="static/images/common/product_lable_stable.png" class="prolist_img" />
			                <div class="prolist_title">
			                    <div class="prolist_title_padding">
			                        <p class="prolist_name">{{specialFund.name}}<span class="prolsit_stop"></span></p>
			                        <p class="prolsit_paper">{{specialFund.product_no}}</p>
			                    </div>
			                    <div class="prolist_box2">
			                        <div class="prolist_apply">
			                            <span class="prolist_trading2">
			                                <p>近3个月涨幅</p>
			                                <p class="prolsit_d">35.8%</p>
			                            </span>
			                            <span class="prolist_process">
			                                <p>已完成<span class="prolsit_80">50%</span></p>
			                                <div class="process">
			                                    <div class="processVal"></div>
			                                </div>
			                                <p>
			                                    <div class="time">
			                                        <span>还有</span>
			                                        <span id="t_d_1">0</span>
			                                        <span>天</span>
			                                        <span id="t_h_1">0</span>
			                                        <span>时</span>
			                                        <span id="t_m_1">0</span>
			                                        <span>分</span>
			                                        <span>结束</span>
			                                    </div>
			                                </p>
			                            </span>
			                        </div>
			                    </div>
			                    <div class="prolist_box">
			                        <div class="prolist_apply">
			                            <span class="prolist_trading">
			                                <p>起购金额</p>
			                                <p class="prolsit_black">{{specialFund.increase_amount}}</p>
			                            </span>
			                            <span class="prolist_amount">
			                                <p>开售日期</p>
			                                <p class="prolsit_black">{{specialFund.open_sale}}</p>
			                            </span>
			                            <span class="prolist_imit">
			                                <p>理财限期</p>
			                                <p class="prolsit_black">{{specialFund.sale_period}}</p>
			                            </span>
			                        </div>
			                    </div>
			                    <div class="prolsit_con">
			                        <p class="prolsit_next2">
			                            <span>点评：绩优股</span>
			                        </p>
			                    </div>
			                </div>
			            </li>
			            <li class="last">
							<div class="pullUp" ng-show="fund.directive == 1" ng-class="{loading: fund.loaded != 0}">
								<span class="pullUpIcon"></span>
								<span class="pullUpLabel" ng-show="fund.loaded == 0">向上拉动加载更多</span>
								<span class="pullUpLabel" ng-show="fund.loaded != 0">加载中...</span>
							</div>
			            </li>
			            </ul>
				</div>
	        </div>
	        <!-- /在售 -->

            <!-- 往期产品 -->
            <div class="prolistBox specialbox1" ng-show="fund.status == 3">
                <div class="scroller" id="scroller2">
                    <ul>
                        <li class="prolist" ng-repeat="specialFund in oldSpecialFunds" ng-click="fund.go(specialFund.product_no)">
                            <img src="static/images/common/product_lable_stable.png" class="prolist_img" />
                            <div class="prolist_title">
                                <div class="prolist_title_padding">
                                    <p class="prolist_name">{{specialFund.name}}<span class="prolsit_stop"></span></p>
                                    <p class="prolsit_paper">{{specialFund.product_no}}</p>
                                </div>
                                <div class="prolist_box2">
                                    <div class="prolist_apply">
			                            <span class="prolist_trading2">
			                                <p>近3个月涨幅</p>
			                                <p class="prolsit_d">35.8%</p>
			                            </span>
			                            <span class="prolist_process">
			                                <p>已完成<span class="prolsit_80">50%</span></p>
			                                <div class="process">
                                                <div class="processVal"></div>
                                            </div>
			                                <p>
			                                    <div class="time">
                                                    <span>还有</span>
                                                    <span id="t_d_2">0</span>
                                                    <span>天</span>
                                                    <span id="t_h_2">0</span>
                                                    <span>时</span>
                                                    <span id="t_m_2">0</span>
                                                    <span>分</span>
                                                    <span>结束</span>
                                                </div>
                                            </p>
			                            </span>
                                    </div>
                                </div>
                                <div class="prolist_box">
                                    <div class="prolist_apply">
			                            <span class="prolist_trading">
			                                <p>起购金额</p>
			                                <p class="prolsit_black">{{specialFund.increase_amount}}</p>
			                            </span>
			                            <span class="prolist_amount">
			                                <p>开售日期</p>
			                                <p class="prolsit_black">{{specialFund.open_sale}}</p>
			                            </span>
			                            <span class="prolist_imit">
			                                <p>理财限期</p>
			                                <p class="prolsit_black">{{specialFund.sale_period}}</p>
			                            </span>
                                    </div>
                                </div>
                                <div class="prolsit_con">
                                    <p class="prolsit_next2">
                                        <span>点评：绩优股</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="last">
                            <div class="pullUp" ng-show="fund.directive == 1" ng-class="{loading: fund.loaded != 0}">
                                <span class="pullUpIcon"></span>
                                <span class="pullUpLabel" ng-show="fund.loaded == 0">向上拉动加载更多</span>
                                <span class="pullUpLabel" ng-show="fund.loaded != 0">加载中...</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /往期产品 -->
	        
	        <!-- 浮动收益 
	        <div class="prolistBox" ng-show="fund.status == 3">
	            <article class="prolist proListfund">
	                <img src="static/images/common/product_lable_float.png" class="prolist_img" />
	                <div class="prolist_title">
	                    <div class="prolist_title_padding">
	                        <p class="prolist_name">一个非常长的产品名字A<span class="prolsit_hot"></span></p>
	                        <p class="prolsit_paper">0000380</p>
	                    </div>
	                    <div class="prolist_box2">
	                        <div class="prolist_apply">
	                            <span class="prolist_trading2">
	                                <p>近3个月涨幅</p>
	                                <p class="prolsit_d">35.8%</p>
	                            </span>
	                            <span class="prolist_amount2">
	                                <p>近6个月涨幅</p>
	                                <p class="prolsit_d">35.8%</p>
	                            </span>
	                        </div>
	                    </div>
	                    <div class="prolsit_con">
	                        <p class="prolsit_next2">
	                            <span>点评：绩优股</span>
	                        </p>
	                    </div>
	                </div>
	            </article>
	            <article class="prolist">
	                <img src="static/images/common/product_lable_float.png" class="prolist_img" />
	                <div class="prolist_title">
	                    <div class="prolist_title_padding">
	                        <p class="prolist_name">一个非常长的产品名字A<span class="prolsit_hot"></span></p>
	                        <p class="prolsit_paper">0000380</p>
	                    </div>
	                    <div class="prolist_count_down">
	                        <p>距离结束时间</p>
	                        <div class="time">
	                            <span id="t_d" class="t_d">0</span>
	                            <span class="prolsit_color80">天</span>
	                            <span id="t_h" class="t_h">0</span>
	                            <span class="prolsit_color80">时</span>
	                            <span id="t_m" class="t_m">0</span>
	                            <span class="prolsit_color80">分</span>
	                        </div>
	                    </div>
	                    <div class="prolist_box">
	                        <div class="prolist_apply">
	                            <span class="prolist_trading">
	                                <p>投资金额</p>
	                                <p class="prolsit_black">100,000,00元</p>
	                            </span>
	                            <span class="prolist_amount">
	                                <p>投资顾问</p>
	                                <p class="prolsit_black">平安殷海资本</p>
	                            </span>
	                        </div>
	                    </div>
	                     <div class="prolsit_con">
	                        <p class="prolsit_next2">
	                            <span>点评：绩优股</span>
	                        </p>
	                    </div>
	                </div>
	            </article>
	            <article class="prolist">
	                <img src="static/images/common/product_lable_float.png" class="prolist_img" />
	                <div class="prolist_title">
	                    <div class="prolist_title_padding">
	                        <p class="prolist_name">一个非常长的产品名字A<span class="prolsit_e"></span></p>
	                        <p class="prolsit_paper">0000380</p>
	                    </div>
	                    <div class="prolist_box">
	                        <div class="prolist_apply">
	                            <span class="prolist_trading">
	                                <p>投资金额</p>
	                                <p class="prolsit_black">100,000,00元</p>
	                            </span>
	                            <span class="prolist_amount">
	                                <p>投资顾问</p>
	                                <p class="prolsit_black">平安殷海资本</p>
	                            </span>
	                        </div>
	                    </div>
	                    <div class="prolsit_con">
	                        <p class="prolsit_next2">
	                            <span>点评：绩优股</span>
	                        </p>
	                    </div>
	                </div>
	            </article>
	            <article class="prolist">
	                <img src="static/images/common/product_lable_float.png" class="prolist_img" />
	                <div class="prolist_title">
	                    <div class="prolist_title_padding">
	                        <p class="prolist_name">一个非常长的产品名字A<span class="prolsit_stop"></span></p>
	                        <p class="prolsit_paper">0000380</p>
	                    </div>
	                    <div class="prolist_box">
	                        <div class="prolist_apply">
	                            <span class="prolist_trading">
	                                <p>投资金额</p>
	                                <p class="prolsit_black">100,000,00元</p>
	                            </span>
	                            <span class="prolist_amount">
	                                <p>投资顾问</p>
	                                <p class="prolsit_black">平安殷海资本</p>
	                            </span>
	                        </div>
	                    </div>
	                    <div class="prolsit_con">
	                        <p class="prolsit_next2">
	                            <span>点评：绩优股</span>
	                        </p>
	                    </div>
	                </div>
	            </article>
	        </div>
	         /浮动收益 -->
	    </section>
	</div>
	
	<script type="text/javascript" src="./modules/lib/sea/sea-min.js"></script>
	<script type="text/javascript" src="./modules/common/seaConf.js"></script>
	<script type="text/javascript" src="./modules/controller/specialFundList.js"></script>
</body>
</html>